.search {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 70px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 73vw;
  max-width: 100%;
}

.search-input {
  flex-grow: 1;
  color: black;
  border: 0;
  outline: 0;
  background: none;
  caret-color: #052347;
  font-size: 21px;
  font-weight: 300;
  padding: 0 10px;
  width: 100%;
}

.search-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #052347;
  cursor: pointer;
}

.search:hover .search-icon {
  background: #052347;
  color: #fff;
}

a:link {
  text-decoration: none;
}



@media (max-width: 768px) {
  .search {
      margin-left: 10vw;
      height: 50px;
  }

  .search-input {
      font-size: 16px;
      padding: 0 10px;
  }

  .search-icon {
      height: 40px;
      width: 40px;
  }
}